@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body, pre {
    font-family: 'Inconsolata', sans-serif;
/*	font-weight: lighter;*/
	letter-spacing: 0pt;
}

a {
	text-decoration: none;
}

hr {
#	visibility:hidden;
#	height:-1px;
height: 1px;
border: 0;
color: #333;
background-color: #333;
#width: 90%;
}
